*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family:'lucida grande', tahoma, verdana, arian, sans-serif;
}

a{
	text-decoration:none;
}

#header{
	width: 100%;
	height: 75px;
	background-color: #0072BB;
	margin: 0 auto;
	position:fixed;
}

.logo {
	float: left;
	margin-top: 7.5px;
	margin-left: 13px;
}

.logo a {
	font-size: 2em;
	color: #fff;
}

.logo a span {
	font-weight: 300;
}

.navClass > ul {
	background-color: #323232;
	margin-top:75px;
	font-size: 80%;
	font-family: sans-serif;
	width: 100%;
	position:fixed;
}

.navClass > ul > li {
	display:inline-block;
	padding: 5px 4%;
	position:relative;
}

.navClass > ul > li:hover{
	background-color: #00528F;
}

ul.sub-menu{
	position:absolute;
	background-color:#00528F;
	list-style-type:none;
	width:172px;
	padding-left:0px;
	margin-left:-60px;
	padding-top:5px;
	opacity:0;
}

ul.sub-menu li{
	padding-left:60px;
	padding-top:5px;
	padding-bottom:5px;
}

.navClass li:hover .sub-menu{
	opacity:1;
}


.qlink{
	padding-left: 10%;
}

.qlink >ul {

	colour:#D8D8D8;


	font-size:13px;
	font-family: sans-serif;
	list-style: none;
}

.qlink >ul >li{
	display:inline-block;
	padding: 5px 60px;
	position:relative;
}

.cpright p{
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 20px;
	background-color: #323232
}


#cover {
position:fixed; 
bottom:0; 
left:0; 
margin:0 auto; 
width:100%;
}

#base{
	clear:both;

	width: 100%;
	height: 100px;
	background-color: #323232;
	color: #D2D2D2;

	position:relative;
	margin: 0 auto;
	bottom:0;
}

#wrap {
	padding-top:110px;
	width:80%;
	margin:0 auto;
}

#slide {
	width:500px;
	margin: 0 auto;
	height: 350px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  margin: auto;
}

/* Next & previous buttons */
.back, .go {
  cursor: pointer;
  position: absolute;
  cursor:pointer;

  top: 50%;
  width: auto;
  margin-top: 85px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 70px;
  transition: 0.6s ease;
  border-radius: 0 10px 10px 0;
}

/* Position the "next button" to the right */
.go {


  margin-left: 69%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.back:hover, .go:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.select {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .select:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#weatherfc {
	margin-top:35px;
	width:555px;
	height: 303px;
	float:left;

}

#number{
	font-size: 800%;
	font-family: sans-serif;
	width:390px;
	height: 300px;
	margin-top:50px;
	margin-bottom: 35px;
}

#vacancies {
	width:390px;
	height: 300px;
	margin-top:50px;
	margin-bottom: 35px;
	float: right;
        font-size: 80%;
	font-family: sans-serif;
}
		