
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	front-family:'lucida grande', tahoma, verdana, arian, sans-serif;
	background-color: #FFFFFF;
}

a{
	text-decoration:none;
}

#header{
	width: 100%;
	height: 75px;
	background-color: #0072BB;
	margin: 0 auto;
	position:fixed;
}

.logo {
	float: left;
	margin-top: 7.5px;
	margin-left: 13px;
}

.logo a {
	font-size: 2em;
	color: #fff;
}

.logo a span {
	font-weight: 300;
}

.navClass > ul {
	background-color: #323232;
	margin-top:75px;
	font-size: 80%;
	font-family: sans-serif;
	width: 100%;
	position:fixed;
}

.navClass > ul > li {
	display:inline-block;
	padding: 5px 60px;
	position:relative;
}

.navClass > ul > li:hover{
	background-color: #00528F;
}

ul.sub-menu{
	position:absolute;
	background-color:#00528F;
	list-style-type:none;
	width:172px;
	padding-left:0px;
	margin-left:-60px;
	padding-top:5px;
	opacity:0;
}

ul.sub-menu li{
	padding-left:60px;
	padding-top:5px;
	padding-bottom:5px;
}

.navClass li:hover .sub-menu{
	opacity:1;
}

.qlink >ul {

	colour:#D8D8D8;

	font-size:13px;
	font-family: sans-serif;
	list-style: none;
}

.qlink >ul >li{
	display:inline-block;
	padding: 5px 60px;
	position:relative;
}

.cpright p{
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 20px;
	background-color: #323232
}

#base{
	clear:both;
	position:relative;
	padding-left: 10%;
	width: 100%;
	height: 100px;
	background-color: #323232;
	color: #D2D2D2;
	margin: 0 auto;
	bottom:0;
}

#wrap {
	padding-top:110px;
	width:800px;
	margin:0 auto;
	height: 650px;
	background-color: #E6E6E6;
}

#slide {
	width:800px;
	margin: 0 auto;
	height: 500px;
	background-color: green;
}

#weatherfc {
	width:390px;
	height: 150px;
	float:left;
	background-color: blue;
}

#vacancies {
	width:390px;
	height: 150px;
	float:right;
	background-color: yellow;
}
