p a {
	font-size: 11px;
	color: #aaa;
	float: right;
	margin-top:-13px;
	margin-right:20px;
}

p a:hover {
	color:#555;
}

input {
	font-family:"Helvetica Neue", Helvetica,sans-serif;
	font-size: 15px;
	outline:none;
}



input[type=textarea],
input[type=text],
input[type=password],
input[type=e-mail]{
	color: #462362;
	padding-left:10px;
	margin:10px;
	margin-top:10px;
	margin-left:18px;
	width:145px;
	height:35px;
	border: 1px solid #c7d0d2;
	border-radius:2px;
	box-shadow:inset 0 1.5px 3px rgba(190,190,190,.4),0 0 0 5px #f5f7f8;
}

input[type=e-mail]:focus,
input[type=text]:focus{
	border: 1px solid #a8c9e4;
	box-shadow:inset 0 1.5px 3px rgba(190,190,190,.4),0 0 0 5px #B6F1FD;
}

input[name=firstname],
input[name=lastname]{
	width:200px;
}

input[name=dob]{
	width:125px;
}

input[name=day]{
	width:40px;
}

input[name=year]{
	width:75px;
}

input[name=eaddress]{
	width:200px;
}

input[name=hpnumber]{
	width:200px;
}

input[name=staddress]{
	width: 450px;
	height: 35px;
}

input[name=postal]{
	width: 80px;
}

input[name=vtype]{
	
	color:#f5f7f8;
	padding-left:10px;
	margin:10px;
	margin-top:12px;
	margin-left:18px;
	width: 15px;
	height: 15px;
	
	border           : 1px solid rgb(192,192,192);
	border-radius    : 2px;
	background       : rgb(224,224,224);
	background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
	background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));	
	background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
	background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
	background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
	
	
	/*
	border: 1px solid #c7d0d2;
	border-radius:2px;
	border-color: #f5f7f8;
	
	border: 2px solid white;
	box-shadow:inset 0 1.5px 3px rgba(190,190,190,.4),0 0 0 5px #f5f7f8;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
	
	box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
	*/
}




input[type=submit]{
    float: right;
	/*margin-left: 150px;
    */
    margin-right: 165px;
	margin-top: 17px;
    width: 150px;
    height: 33px;
    font-size: 14px;
	font-family: Georgia;
    font-weight: bold;
    color: #fff;
    background-color: #acd6ef; /*IE fallback*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
    background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
    background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
    border-radius: 30px;
    border: 1px solid #66add6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;
}

input[type=reset] {
    float: left;
	margin-left: 170px;
    margin-top: 17px;
    width: 150px;
    height: 33px;
    font-size: 14px;
	font-family: Georgia;
    font-weight: bold;
    color: #fff;
    background-color: #acd6ef; /*IE fallback*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
    background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
    background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
    border-radius: 30px;
    border: 1px solid #66add6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;
}


select {
	
	color:#777;
	padding-left:10px;
	margin:10px;
	margin-top:12px;
	margin-left:18px;
	width:145px;
	height:35px;
	border: 1px solid #c7d0d2;
	border-radius:2px;
	box-shadow:inset 0 1.5px 3px rgba(190,190,190,.4),0 0 0 5px #f5f7f8;
	
    
}

select:focus{
	border: 1px solid #a8c9e4;
	box-shadow:inset 0 1.5px 3px rgba(190,190,190,.4),0 0 0 5px #B6F1FD;
}

input[type=checkbox]{
	margin-left:20px;
	margin-top:30px;
}

#lower{
	width:800px;
	height:69px;
	margin-top:20px;
	margin-left:-150px;
}

#container {
	position:fixed;
	width: 350px;
	height:480px;
	top: 50%;
	left:50%;
	margin-top:-140px;
	margin-left:-170px;
	background:#fff;
	border-radius:3px;
	border:1px solid #ccc;
	box-shadow:0 1px 2px rgba(0,0,0,.1);
}

form{
	margin:0 auto;
	margin-top:20px;
	margin-left: 150px;
}

label{
	color:#00363D;
	display: inline-block;
	margin-left:18px;
	margin-top:10px;
	font-size:15px;
	font-weight: bold;
}





